@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root>
	<div class="@ChatManager.ChatStyle">
		@if ( ChatManager.ChatStyle == "chatboxVisible" )
		{
			@foreach ( var chat in ChatManager.ChatList )
			{
				<div style="flex-shrink: 0;
			background-color: rgba(0,0,0,.2);
			margin: 5px;
			padding: 5px;">
					<text style="color: rgb(183, 246, 255)">@chat[0]:</text>
					@chat[1]
				</div>
			}
		}
	</div>
	<TextEntry @ref="_textbox"
	           Placeholder:bind="@_placeholderText"
	           class="@ChatManager.TextEntryStyle"
	           OnTextEdited=@OnTextEdited	                                   
	           @onsubmit="@HandleSubmit">

	</textentry>
</root>

@code
{

	[Property] ChatManager ChatManager;

	private string _placeholderText;
	private TextEntry _textbox;
	private const int MaxStringInputLength = 350;

	protected override void OnUpdate()
	{
		if ( ChatManager.TextEntryStyle == "TextEntryVisible" )
		{
			_placeholderText = "send chat...";

			if ( ChatManager.ShouldFocus ) InputFocus.Set( _textbox );
			else InputFocus.Clear();
			
			ChatManager.ChatString = ChatManager.ChatStringLog;
		}
		else
		{
			_placeholderText = "";
			
			InputFocus.Clear();
			
			ChatManager.CurrentTextEntry = "";
		}
	}
	
	[Rpc.Broadcast]
	private void OnTextEdited( string obj )
	{
		if ( IsProxy ) return;
		if ( _textbox.Text.Length >= MaxStringInputLength ) _textbox.Text = _textbox.Text.Substring( 0, MaxStringInputLength );
		if ( ChatManager.TextEntryStyle == "TextEntryVisible" )
		{
			ChatManager.CurrentTextEntry = CleanText( _textbox.Text );
		}
	}

	private string CleanText(string str)
	{
		string output = "";
		for ( int i = 0; i < str.Length; i++ )
		{
			if ( char.IsAsciiLetterOrDigit( str[i] ) || char.IsPunctuation( str[i] ) || str[i] == ' ') output += str[i];
		}
		return output;
	}

	void HandleSubmit()
	{
		ChatManager.MessageSubmitted = true;
		if(_textbox.Text != "")
			_textbox.Text = "";
	}
	
	protected override int BuildHash()
	{
		return System.HashCode.Combine(ChatManager.TextEntryStyle, ChatManager.ChatStyle, ChatManager.ChatStringLog, 
			ChatManager.CurrentTextEntry, ChatManager.ChatString, ChatManager.ChatList);
	}
}
